<div class="wrapper fadeInDown">
  <div id="formContent">
    <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    >
      <input
       type="email"
       placeholder="Your email"
       formControlName="email"
       type="text" 
       id="login" 
       class="fadeIn second" 
       name="login" 
       placeholder="login">
      <input 
      id="password" 
      class="fadeIn third" 
      name="login" 
      placeholder="password"
      formControlName="password"
      type="password">
      <input type="submit" class="fadeIn fourth"  [disabled]="loginForm.invalid" value="Log In">
    </form>


    <div id="formFooter">
      <a class="underlineHover" [routerLink]="['/signup']" >Not registred?</a>
    </div>

  </div>
</div>
<section>