<div
*ngIf="trainigData.chartLabels.length > 0">
<canvas
  baseChart
  class="chart"
  [chartType]="'pie'"
  [datasets]="trainigData.chartData"
  [labels]="trainigData.chartLabels"
  [options]="pieChartOptions"
  [colors]="pieChartColors"
  [legend]="true">
</canvas>
</div>
    <div
    class = "overall-calories text-center col-md-12"
    *ngIf="trainigData.chartLabels.length === 0">
    <b>no data to analyse</b>
    <img
     src="../../../assets/images/workout/histeria.gif"
    />
 </div>
    