<div class="wrapper fadeInDown">
    <div id="formContent">
     
        <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
           <input type="text" placeholder="Your email" id="login"  ngModel name="email" email required #emailInput="ngModel">
            <input type="password"  placeholder="Your password" ngModel name="password" required minlength="6" >
            <mat-checkbox ngModel name="agree" required color="primary">Agree to Terms and Conditions.</mat-checkbox>
            <input type="submit" *ngIf="!isLoading" type="submit" color="primary" [disabled]="f.invalid" value="Submit">
            <mat-spinner *ngIf="isLoading"></mat-spinner>
          </form>
  
  
      <div id="formFooter">
        <a class="underlineHover" [routerLink]="['/login']" >Already registred?</a>
      </div>
  
    </div>
  </div>
  <section>
