.overall-calories{  
    font-weight: 400;
    font-size: 80%;
    display: block;
    font-size: 2.5rem;
    color: purple;
    font-weight: bolder;
}
.sum{
    font-family: 'Satisfy', serif;
    color:  #ff4081;; 
}