<div  class="container">
<div class ="row">
<div class = "col-md-10 parent">
<canvas
style="display: block"
    *ngIf="trainigData.chartLabels.length >= 2" 
      baseChart
      class="chart"
      [chartType]="'line'"
      [datasets]="trainigData.chartData"
      [labels]="trainigData.chartLabels"
      [options]="trainigData.chartOptions"
      [legend]="false">
</canvas>
</div>
<div
*ngIf="trainigData.chartLabels.length >= 2" 
 class="overall-calories  center-block col-md-2 parent" >
 <p class="center-block text-center">
 Burned per day:
 <br>
 <span class="sum"> {{sum}} cal </span> 
 <br>
 <span
  *ngIf="sum >= 50  && sum < 100"
 >Good job!</span>
 <span
  *ngIf="sum >= 100"
 > Awsome!</span>
 <span
  *ngIf="sum < 50"
 >You can do better</span>
 </p>
</div>
</div>
<div
   class = "no-calories col-md-10 parent"
   *ngIf="trainigData.chartLabels.length === 1">
   <b>You burned only {{sum}} cal. You can do better</b>
         <img
         src="../../../assets/images/workout/do-better.gif"
        />

</div>
<div
   class = "no-calories center-block overall-calories text-center col-md-12 parent"
   *ngIf="trainigData.chartLabels.length === 0">
   <b>No calories</b>
   <img
    src="../../../assets/images/workout/sad-bear.gif"
   />
</div>

  