<div style="width:70%">
  <canvas
    *ngIf="trainigData.chartLabels.length >= 2" 
      baseChart
      class="chart"
      [chartType]="'line'"
      [datasets]="trainigData.chartData"
      [labels]="trainigData.chartLabels"
      [options]="trainigData.chartOptions"
      [legend]="false">
</canvas>
</div>
<div
   class = "no-calories"
   *ngIf="trainigData.chartLabels.length === 1">
   <b>You burned only {{trainigData.chartData[0].data}} cal. Keep on moving</b>
</div>
<div
   class = "no-calories"
   *ngIf="trainigData.chartLabels.length === 0">
   <b>No calories burned(((</b>
</div>

  