<div>
    <canvas
      *ngIf="trainigData.chartLabels.length >= 2" 
        baseChart
        class="chart"
        [chartType]="'bar'"
        [datasets]="trainigData.chartData"
        [labels]="trainigData.chartLabels"
        [options]="barChartOptions"
        [colors]="barChartColors"
        [legend]="false">
    </canvas>
    <div 
    class="center-block text-center label"
*ngIf="trainigData.chartLabels.length < 2 && trainigData.chartLabels.length > 0 ">
<p>
  You performed {{exercise}} during {{duration}} minutes
</p>
</div>
    </div>
    